<div class="rc-sub-nav">
    <div class="rc-sub-nav__contents">
       <h1 class="rc-sub-nav__title">Average Software Developer Salary</h1>
       <div class="nav-container ">
          <div role="button" class="nav-container__scroll-icon nav-container__scroll-icon--hide"><i class="icon-left-open"></i></div>
          <div class="nav-container__tabs">
             <div class="tabs-container">
                <div class="tabs-container__tabs nav-container__tabs-override">
                   <div class="tab tab--selected rc-sub-nav__active-tab" role="button" tabindex="0"><span class="tab__name">Pay</span></div>
                   <div class="tab rc-sub-nav__inactive-tab" role="button" tabindex="0"><span class="tab__name">Job Details</span></div>
                   <div class="tab rc-sub-nav__inactive-tab" role="button" tabindex="0"><span class="tab__name">Skills</span></div>
                   <div class="tab rc-sub-nav__inactive-tab" role="button" tabindex="0"><span class="tab__name">Job Listings</span></div>
                   <div class="tab rc-sub-nav__inactive-tab" role="button" tabindex="0"><span class="tab__name">Employers</span></div>
                </div>
             </div>
          </div>
          <div role="button" class="nav-container__scroll-icon nav-container__scroll-icon--hide"><i class="icon-right-open"></i></div>
          <div class="nav-container__inline-area">
             <div class="rc-sub-nav__ctas">
                <div class="rc-sub-nav__cta-wrapper"><span class="rc-sub-nav__cta-label">How should I pay?</span><a href="/price-job" class="rc-sub-nav__cta-paj">Price a Job</a></div>
                <div class="rc-sub-nav__cta-wrapper"><span class="rc-sub-nav__cta-label">What am I worth?</span><a href="/market-worth" class="rc-sub-nav__cta-survey">Find market worth</a></div>
             </div>
          </div>
       </div>
    </div>
 </div>
 