<div class="content--full-width">
    <div class="paj-signup__content">
       <div class="paj-signup__left">
          <div class="paj-signup__left__images">
             <p class="paj-signup__left__subheader">Our compensation reports give you an accurate picture of what a job is worth.</p>
             <div class="paj-signup__left__images__row">
                <div class="paj-signup__left__images__col">
                   <img src="https://payscale.com/content/vwo/PAJ-Image-Test/comp-summary-thumb@2x.png" width="225" height="180" alt="Comp summary widget thumbnail">
                   <p class="paj-signup__left__images__caption">Base pay and total cash <br> compensation</p>
                </div>
                <div class="paj-signup__left__images__col">
                   <img src="https://payscale.com/content/vwo/PAJ-Image-Test/salary-trends-thumb@2x.png" width="225" height="180" alt="Salary trends widget thumbnail">
                   <p class="paj-signup__left__images__caption">Salary trends over time <br></p>
                </div>
             </div>
             <div class="paj-signup__left__images__row">
                <div class="paj-signup__left__images__col">
                   <img src="https://payscale.com/content/vwo/PAJ-Image-Test/gender-pay-gap-thumb@2x.png" width="225" height="180" alt="Gender pay gap widget thumbnail">
                   <p class="paj-signup__left__images__caption">Pay differences by gender</p>
                </div>
                <div class="paj-signup__left__images__col">
                   <img src="https://payscale.com/content/vwo/PAJ-Image-Test/job-pathing-thumb@2x.png" width="225" height="180" alt="Career paths widget thumbnail">
                   <p class="paj-signup__left__images__caption">Common career paths</p>
                </div>
             </div>
          </div>
       </div>
       <div class="paj-signup__right">
          <div class="signup__header-container">
             <h1 class="signup__header">Price a Job for Free</h1>
             <p class="signup__subheader">To get started, create an account.</p>
             <a class="signup__login-link" href="/login.aspx?next=%2Fprice-a-job%3Ftk%3Drc-subnav">Existing User? Login Here</a>
             <p class="signup__notice"><strong>Note</strong>: Limited data outside United States &amp; Canada.</p>
          </div>
          <div class="signup">
             <form class="fcidstform signup__form" __bizdiag="0" __biza="W___">
                <div id="" class="pxl-form-group signup__field"><label class=" pxl-control-label" for="">Email</label><input class=" pxl-form-control" type="text" id="email" autocomplete="email" placeholder="you@example.com" tabindex="0" value=""></div>
                <div id="" class="pxl-form-group signup__field"><label class=" pxl-control-label" for="">Create Password</label><input class=" pxl-form-control" type="password" id="password" autocomplete="new-password" tabindex="0" value=""></div>
                <div id="" class="pxl-form-group signup__field"><label class=" pxl-control-label" for="">First Name</label><input class=" pxl-form-control" type="text" id="firstname" autocomplete="given-name" tabindex="0" value=""></div>
                <div id="" class="pxl-form-group signup__field"><label class=" pxl-control-label" for="">Last Name</label><input class=" pxl-form-control" type="text" id="lastname" autocomplete="family-name" tabindex="0" value=""></div>
                <div id="" class="pxl-form-group signup__field">
                   <label class=" pxl-control-label" for=""># of Employees</label>
                   <div class="pxl-input-number"><input class=" pxl-input-number__input pxl-form-control" type="number" id="numberOfEmployees" min="0" tabindex="0" value=""></div>
                </div>
                <button id="submit" type="button" class="signup__submit" (click)="next()">Next: Price a Job</button>
             </form>
             <p class="signup__terms">By clicking "Next: Price a Job", you agree to our <a href="/license">Terms of Use</a> and our <a href="/privacy">Privacy Policy</a>.</p>
          </div>
       </div>
    </div>
 </div>